{% extends "base.html" %} {% block content %}
<h1 class="text-center">BOOKS AVAILABLE</h1>
<br>
<div class="row">
  {% for book in books %}
  <div class="col-12 col-md-6 col-lg-4 mb-2" >
    <div class="p-3r" style="width:50%">
      <a href="{{ url_for('book', id=book.id) }}" class="text-decoration-none">
        <img src="{{ book.photo }}" class="card-img-top" tyle="max-height:100% "/>
        <h5 class="text-center text-muted text-decoration-none">{{ book.title }}</h5>
        <p class="text-center text-muted">{{ book.author }}</p>
      </a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
